<!DOCTYPE html>
<html>
<head>
  <title>Gg drive attachment</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "gg_drive_attachment/application", media: "all" %>
  <%= javascript_include_tag "gg_drive_attachment/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
